.track {
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: brown;
	overflow: hidden;
}

.train {
	display: block;
	white-space: nowrap;
	height: 90%;
	transform: translateX(0);
	transition: transform 10s ease-out;
}

.train .car {
	width: 90vh;
	height: 100%;
	background: black;
	margin: 0 9vh;
	display: inline-block;
	position: relative;
}

.train .car .door {
	height: 70%;
	position: absolute;
	bottom: 0;
	background: white;
}

.train.pre {
	transform: translateX(-100%);
	transition: none;
}

.train.departing {
	transform: translateX(100%);
	transition: transform 10s ease-in;
}

.track.flip .train.pre {
	transform: translateX(100%);
}

.track.flip .train.departing {
	transform: translateX(-100%);
}