.platform {
	height: 60%;
	background: gray;
	position: relative;
}

.player {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px black solid;
	background: green;
	position: absolute;
}

.bp {
	width: 20px;
	height: 20px;
	background: blue;
	position: absolute;
}